p
	label(for='video_title') Title
p
	input(type='text', name='video[title]', style='width: 600px')
p
	label(for'video_videoid') VideoId
p
	input(type='text', name='video[videoId]', style='width: 600px')
p
	label(for='post_body') Description
p
	input(type='text', name='video[description]', style='width: 600px')
p
	input(type='submit')

